/*Tags gerais*/
*{
    margin: 0%;
    padding: 0%;
    
}
body{
    font-family: Arial, Helvetica, sans-serif;

}

header{
    background-image: url(../img/fundo-topo.jpg);
    text-align: center;
    text-decoration: center;
    padding: 10px, 0;


}

header h1{
    margin: 0%;
    height: 84px;

}
nav{
    padding: 15px, o;
    border: 1px;
    text-align: center;



}

nav li {
    background-image: url(../img/patinha-preta.png);
    background-repeat: no-repeat;
    background-position: center right;
    padding-right: 27px;
    margin-right: 10px;
    display: inline;
    
}

nav a{
    color: #000;
    text-decoration: none;

}
nav a {
    color:#6dd432;
}

/*Especificos*/
#itemContato{
    background-image: none;
    padding-right: none;
    margin-right: 0;
}
ul{
    text-align: center;
    text-decoration: center;

}